<!-- <p>projects works!</p> -->
<div class="project-container">
    <div class="my-projects">
        <div class="project-title">
            <p class="family project font-weight-six">Projects</p>
        </div>
        <div class="type">
            <a class="network-link" href="#">
                <p class="family network font-weight-four">All type</p>
            </a>
            <a class="network-link" href="#">
                <p class="family network font-weight-four">{{x}}</p>
            </a>
            <a class="network-link" href="#">
                <p class="family network font-weight-four">Desktop applications</p>
            </a>
            <a class="network-link" href="#">
                <p class="family network font-weight-four">Dashboards</p>
            </a>
        </div>
        <div class="project-box">
            <div class="description">
                <p class="family dashboard-title font-weight-six">Internity - social network / dashboard</p>
                <p class="family dashboard-description font-weight-four">There should go a small description text. It should be a small
                    story about this project, and process
                    also. Detailed explanation will be in inside page. and so on, and so on...
                </p>
                <a href="#">
                    <p class="view-full family font-weight-six">View full project</p>
                </a>
            </div>
            <div class="image">
                <img class="image-pc" src="/assets/image/pc.svg" alt="pc">
            </div>
        </div>
        <div class="project-box">
            <div class="description">
                <p class="family dashboard-title font-weight-six">Internity - social network / dashboard</p>
                <p class="family dashboard-description font-weight-four">There should go a small description text. It should be a small
                    story about this project, and process
                    also. Detailed explanation will be in inside page. and so on, and so on...
                </p>
                <a href="#">
                    <p class="view-full family font-weight-six">View full project</p>
                </a>
            </div>
            <div class="image">
                <img class="image-pc" src="/assets/image/pc.svg" alt="pc">
            </div>
        </div>
        <div class="project-box">
            <div class="description">
                <p class="family dashboard-title font-weight-six">Internity - social network / dashboard</p>
                <p class="family dashboard-description font-weight-four">There should go a small description text. It should be a small
                    story about this project, and process
                    also. Detailed explanation will be in inside page. and so on, and so on...
                </p>
                <a href="#">
                    <p class="view-full family font-weight-six">View full project</p>
                </a>
            </div>
            <div class="image">
                <img class="image-pc" src="/assets/image/pc.svg" alt="pc">
            </div>
        </div>
        <div class="project-box">
            <div class="description">
                <p class="family dashboard-title font-weight-six">Internity - social network / dashboard</p>
                <p class="family dashboard-description font-weight-four">There should go a small description text. It should be a small
                    story about this project, and process
                    also. Detailed explanation will be in inside page. and so on, and so on...
                </p>
                <a href="#">
                    <p class="view-full family font-weight-six">View full project</p>
                </a>
            </div>
            <div class="image">
                <img class="image-pc" src="/assets/image/pc.svg" alt="pc">
            </div>
        </div>
    </div>
</div>
