.border-radius{
    border-radius: 200px;
}
.i-am-mishka{
    font-size: 36px;
    color: #F1F1F1;
}
.description{
    font-size: 14px;
    color: rgba($color: #F1F1F1E5, $alpha: 0.9);
    max-width: 340px;
    margin-top: 24px;
}
.about-author{
    margin-left: 40px;
}
.main-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 135px;
}