<div class="mail-page-container">
    <div class="main-page">
        <div class="author-photo">
            <img class="mishka border-radius" src="assets/image/mishka.svg" alt="mishka">
        </div>
        <div class="about-author">
            <p class="i-am-mishka family font-weight-six">I’m Mishka Bakhtadze</p>
            <p class="description family font-weight-four">A perfectionist UI/UX Designer adoring problem-solving.
                I have 3+ years of experience in creating presentational websites, simple and complex online shops,
                dashboards, and native/custom app designs. Most of all I love working on Dashboards and Applications,
                this is always a big pleasure for me.
            </p>
        </div>
    </div>
</div>
<a routerLink="/project-details" style="margin-right: 15px">დეტალურად პროექტი </a>