<!-- <p>project-details works!</p> -->
<div class="project-details-container">
    <div class="project-details">
        <div class="project-title">
            <div class="back-to">
                <a class="icon-link" href="#"><img class="icon" src="/assets/image/back-icon.svg" alt="icon"></a>
                <p class="family back-to-projects font-weight-four">Back to projects</p>
            </div>
            <div class="dashboard-title">
                <p class="title family font-weight-six">Internity - Social network / dashboard</p>
                <div class="calendar">
                    <img class="calendar-icon" src="/assets/image/calendar.svg" alt="calendar">
                    <p class="date family font-weight-four">16 nov,2021</p>
                </div>
            </div>
            <div class="line-container"></div>
        </div>
        <div class="under-line-container">
            <div class="about-project">
                <p class="about-project-title family font-weight-six">Overview</p>
                <p class="family project-text font-weight-four">There should go a small description text. It should be a small story
                    about this project, and process also. Detailed explanation will be in inside page.  and so on, and
                    so on...</p>
            </div>
            <div class="about-project">
                <p class="about-project-title family font-weight-six">Problems</p>
                <p class="family project-text font-weight-four">There should go a small description text. It should be a small story
                    about this project, and process also. Detailed explanation will be in inside page.  and so on, and
                    so on...</p>
            </div>
            <div class="about-project">
                <p class="about-project-title family font-weight-six">Needs</p>
                <p class="family project-text font-weight-four">There should go a small description text. It should be a small story
                    about this project, and process also. Detailed explanation will be in inside page.  and so on, and
                    so on...</p>
            </div>
        </div>
        <div class="picture-container">
            <div class="picture-place">
                
            </div>
        </div>
    </div>
</div>